#main-doc{
    display:flex;
    box-sizing: border-box;
    width:99vw;
    padding: 20px;
}

#navbar{
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 100vh;
    overflow-y: scroll;
    border-right: 2px solid black;
}

.content{
    box-sizing: border-box;
    width: 80vw;
    height: 100vh;
    overflow-y: scroll;
    padding: 20px;

}

#navbar>header{
    height: 70px;
    font-size: 25px;
    padding: 25px;
    font-weight: 600;
    border-bottom: 2px solid black;
}

#navbar >a:hover{
    background-color: black;
    color: white;
}

.nav-link{
    
    text-decoration: none;
    color: rgb(72, 68, 68);
    font-size: 18px;
    scroll-behavior: smooth;
    border-collapse: collapse;
    padding:15px;
}


section >header {
    font-size: 30px;
}

section {
    font-size: 16px;
    margin: 20px 0;
}

section>header,p,code,ul,li {
    line-height: 1.8em;
}
    
section>code{
    background-color: rgb(218, 213, 213);
    padding: 20px;
    display: block;
}
.reference{
    text-decoration: none;
}

#developer {
    text-align: right;
    font-style: italic;
    font-family: monospace;
}

#developer >a {
    text-decoration: none;
}



@media (max-width:720px){
    #main-doc{
        display: flex;
        flex-direction: column;
    }
    #navbar{
        width: auto;
        height: 25vh;
        overflow-y: scroll;
        scrollbar-width: 2px;
    }
    .content{
        width: auto;
        padding: 10px;
    }
}
